<link rel="stylesheet" href="/css/erro.css">
<div class="container d-flex" style="flex-direction: column; align-items:center; justify-content:center">
 
    <h1 class="text-warning" style="margin-top: 200px;">404 Error Occurred</h1>
    <p style="z-index: 3;">The Page nnot found</p>

    <div style="margin-top: 30px; z-index:2"
        class="text-center text-lg-start pt-2 d-flex errorbtn justify-content-center align-items-center ">
        <a href="/login" type="submit" class="btn btn-primary  btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Go back</a>
    </div>
</div>