
#navv {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;
    
  }
.marq{
    height: 50px;
    font-weight: bold;
  }

.icon{
    height: 25px;
    width: 25px;
    margin-left: 10px;
}
.username{

    color: black;
}
.profile-wrapper{
    background-color:rgb(96, 2, 2);
    box-shadow: 0px 0px 4px black;
    width: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;


}
